@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  font-size: 100%;
}
body {
    color: #24292e;
    letter-spacing: 0.05em;
}
a,a:visited {
    color: #24292e;
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
p {
    line-height: 1.8;
    font-size: 14px;
}
h1 {
    font-size: 60px;
    font-family: 'Pacifico';
}
h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}
h3 {
    font-size: 16px;
}

section {
    padding: 30px 10%; 
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

header {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 4%;
    align-items: center;
	position: sticky;
	top: 0;
}

header ul {
    display: flex;
}

header li {
    margin-left: 30px;
}
/* ナビゲーション全体のレイアウト調整 */
header li a {
    display: flex;
    align-items: center;
    transition: color 0.3s;
}




/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.main-visual{     
    width: 100%;
    height: 550px;
    background-image: url(../img/p3100.jpg);
    background-size: cover;
    color: #FFF;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-visual p {
    margin-top: 20px;
    font-size: 18px;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about {
    background: white;
    border-bottom: 2px solid black;
}
#about h3 {
    margin-right: 10px;
}

#about p {
    width: 80%;
}

#about img {
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
} 

#about-name { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#about-detail { 
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#about h2{
    margin-top: 40px;
}
/*-------------------------------------------
Skills
-------------------------------------------*/
#skills {
     background: gray;
    border-bottom: 2px solid black;
}
#skills h3 {
    margin-bottom: 10px;
}

.skill-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-item {
    width: 30%;
    background-color: #fff;
	border-radius: 16px;
    margin-bottom: 20px;
	padding: 30px;
    box-sizing: border-box;

}
/*-------------------------------------------
Works
-------------------------------------------*/
#works {
    background: white;
    border-bottom: 2px solid black;
}
.work-item {
	display: flex;
	justify-content: space-between;
    margin-top: 15px;
}
.work-item {
	display: flex;
	justify-content: space-between;
    margin-top: 15px;
}

#works img{
	width: 50%;
}
  
.work-description{
	margin-left: 10px;
	width: 50%;  
}

.work-description p {
	margin-top: 10px;
}
/*-------------------------------------------
Contact
-------------------------------------------*/
#contact {
    background-color: #EBDFE0;
    text-align: center;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
}
@media screen and (max-width: 414px) {
	h2 {
        margin-bottom: 30px;
    }


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
	max-width: 100%;
	flex-direction: column;
	height: auto;
	padding: 10px 4%;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about {
    text-align:  center;
}
#about h3 {
    margin: 0;
}
#about-name {
    flex-direction: column;
    align-items: center;
    }
#about-detail {
    flex-direction: flex;
    flex-direction: column-reverse;
    align-items: center;
    }
#about-detail p {
    text-align: left;
    margin-top: 30px;
    width: 100%;
    }
/*-------------------------------------------
    Skills
-------------------------------------------*/
.skill-item {
    width: 100%;
}
/*-------------------------------------------
    Works
-------------------------------------------*/
.work-item {
    flex-direction: column;
}

#works img {
    width: 100%;
    margin-bottom: 10px;
}

.work-description {
    width: 100%;
}
/*-------------------------------------------
Contact
-------------------------------------------*/

#contact form {
    text-align: center;
}

#contact input {
    width: 100%;
}

#contact dl{
    flex-direction: column;
    width: 100%;
}

#contact dt{
    width: auto;
    margin-bottom: 5px;
}

#contact dd{
    width: 90%;
}
}